.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Homepage-background-image {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Media queries for smaller height */
@media screen and (max-height: 700px) {
  .Homepage-background-image {
    height: 145vh; /* Adjusted for smaller height screens */
  }
}

.Homepage-root {
  color: #fff;
  text-align: center;
  display: inline-block;
}

.Homepage-root div {
  display: "flex";
  justify-content: "center";
  margin-bottom: "50px";
}

.Homepage-root img {
  width: "300px";
  height: "300px";
}

.Homepage-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffd580;
  font-family: "Protest Revolution", serif;
}

.homepage-button {
  border-width: 2px;
  border-style: solid;
  border-color: #ffdf80;
  color: #ffd580;
  font-weight: bold;
  background: none;
  padding: 1rem 2rem;
  border-radius: 9999px;
  font-size: 1.5rem;
  margin-top: 10%; /* Adjusted for responsiveness */
  cursor: pointer;
  font-family: "Protest Riot", serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
